@using Implementation;


@page "/"
@inject TimeZoneService TimeZoneService
@inject AccountService accountService; 


<PageTitle>Index</PageTitle>

@if (accountService.IsLoggedIn)
{
    <h2>Welcome back, @accountService.UserName</h2>
}
<p>Now (UTC): @DateTimeOffset.UtcNow.ToString()</p>
<p>Now (local): @now.ToString()</p>




@code {
    [CascadingParameter]
    public MainLayout mainLayout { get; set; }

    DateTimeOffset now;


    protected override async Task OnInitializedAsync()
    {
        var offset = await TimeZoneService.GetUTCOffset();
        now = new DateTimeOffset(DateTime.Now, offset.Value);

    }
}
