@page "/createtoken"
@inject IJSRuntime jsRuntime;
@using Radzen.Blazor;
@using Microsoft.JSInterop

<input id="formValidState" type="hidden" @bind-value="isFormDataValid"/>
<RadzenCard>
    <RadzenText Style="margin-bottom:50px" TextStyle="TextStyle.H3" TagName="TagName.H4" TextAlign="TextAlign.Center">Add Credit or Debit Card</RadzenText>

        <RadzenRow Gap="1rem" JustifyContent="JustifyContent.Center">
            <RadzenColumn Size="12" SizeSM="6">
                <RadzenStack>

                    <form  id="payment-form">
                        <div>
                            <RadzenLabel Style="font-weight: bold;" Text="Card Nmber" />
                            <RadzenText Class="rz-textbox" Id="custom-card-number" TextStyle="TextStyle.Subtitle2" Name="cardnumber" required="true" TagName="TagName.H3">Card Nmber</RadzenText>
                        </div>

                        <div>
                            <RadzenLabel Style="font-weight: bold;" Text="Valid" />
                            <RadzenText Class="rz-textbox" Id="custom-card-expiry" TextStyle="TextStyle.Subtitle2" required="true" TagName="TagName.H3">Expiry</RadzenText>
                        </div>

                        <div>
                            <RadzenLabel Style="font-weight: bold;" Text="CCV" />
                            <RadzenText Class="rz-textbox" Id="custom-card-cvc" TextStyle="TextStyle.Subtitle2" required="true" TagName="TagName.H3">CCV</RadzenText>
                        </div>

                        <div>
                            <RadzenLabel Style="font-weight: bold; display: block" Text="Account Holder"/>
                            <RadzenTextBox Id="name" Style="width:100%"  @bind-Value="name"  TextStyle="TextStyle.Subtitle2" TagName="TagName.H3" required="true" Placeholder="Name" AutoComplete="true" AutoAutoCompleteType="AutoCompleteType.Name" />
                        </div>
                        <div style="margin-top: 10px;">
                            <RadzenLabel Style="font-weight: bold;" Text="Email"  />
                            <RadzenTextBox Id="email" Style="width: 100%" @bind-Value="email" TextStyle="TextStyle.Subtitle2" Name="Email" TagName="TagName.H3" required="true" Placeholder="Email"  />
                        </div>
                      
                        <div class="error" role="alert">
                            <span class="message"></span>
                        </div>

                        <div >
                            <RadzenButton  Style="margin-top: 10px; width: 100%" Id="submit" ButtonType="ButtonType.Submit" Text="Add Payment" Icon="credit_card" ButtonStyle="ButtonStyle.Success"
                                          @onclick:stopPropagation="true" Size="ButtonSize.Large" />
                        </div>
                    </form>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>
       <input type="hidden" id="token"/>

</RadzenCard>


@code {

            string name;
            string email;
            bool isFormDataValid = false;

    private bool EnableSubmit
        {
            get
            {
                var result = (!isFormDataValid || string.IsNullOrEmpty(email) || string.IsNullOrEmpty(name));
                Console.WriteLine("result" + result);
                return result;
            }
        }

        protected override async Task OnInitializedAsync()
        {


        }

        private async void onPaymentClick()
        {
            // await jsRuntime.InvokeVoidAsync("onSubmit");
        }

        protected override async void OnAfterRender(bool firstRender)
        {
            var pkey = "pk_test_51NpWMxBwrd9g8wB1Kl1fBZ4P25KtfUwBobeHU8WPORfQBQtdXb446cMP3R7DpSxiNgRSGMPUfu7hdGQpNokBOiRx00VhUbVBJa";
            var secretKey = "sk_test_51NpWMxBwrd9g8wB1ZYC53bWwtbj73k93Jmil5TtvOK4kvmsBBfPHm172yAF2HhcKfXBLjCoZGrCKjfdUgv340PFH00Kh4wo9IZ";
            await jsRuntime.InvokeVoidAsync("onCreateTokenLoad", pkey);
        }

        // "PubKey": "pk_test_51NpWMxBwrd9g8wB1Kl1fBZ4P25KtfUwBobeHU8WPORfQBQtdXb446cMP3R7DpSxiNgRSGMPUfu7hdGQpNokBOiRx00VhUbVBJa",
        //"SecretKey": "sk_test_51NpWMxBwrd9g8wB1ZYC53bWwtbj73k93Jmil5TtvOK4kvmsBBfPHm172yAF2HhcKfXBLjCoZGrCKjfdUgv340PFH00Kh4wo9IZ"
    }

