
/*small*/
@media (max-width: 533px) {
    .social {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .social-login {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }
}

/* Styles for medium screens  and (max-width: 1600px) */
@media (min-width: 540px) {
    .social {
        display: flex;
        justify-content: space-between;
    }

    .social-login {
        width: 50%;
        display: flex;
        flex-direction: column
    }

    
}

/*@media (min-width: 520px) and (max-width: 1900px) {
    .container {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20% 20%;
        align-items: center;
        background-image: url('/images/background.png');
        height: 500px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;*/
        /*min-width: -webkit-fill-available;*/
        /*width: -webkit-fill-available;
        height: 100%;
        margin-left: 0.4px;*/
        /*max-width: -webkit-fill-available*/
    /*}*/
}