
@using BeerDispenser.WebUi.Implementation;
@using BeerDispenser.WebUi.Implementation.Spinner;

@inherits LayoutComponentBase
@inject NavigationManager NavManager

@inject AccountService AccountService;


<style>
    .avatar img {
        border-radius: 20%;
        width: 20px;
        display: block;
    }

    .avatar {
        text-align: justify;
        width: 50px;
        margin: 0 auto;
        border-radius: 10px
    }

</style>

<CascadingValue Value="this">
    
    
    <div class="page">
        <div class="sidebar">
            <NavMenu />

        </div>
       
        <main>
            <div class="top-row px-4">
                <div style="width:200px;text-align:right;">
                    @if (AccountService.IsLoggedIn)
                        {
                            <div style="display:inline-block">
                            <img class="avatar" src=@AccountService.PictureUrl @onclick=@(() => NavManager.NavigateTo("/account")) />
                                <a style="margin-left:0" href="account"><b>@AccountService.UserName</b></a>
                            </div>
                            <button style="margin-left:50px" class="btn btn-sm btn-danger" title="Logout" @onclick="AccountService.LogoutAsync"><span class="oi oi-account-logout"></span></button>
                        }
                        else
                        {
                            <RadzenButton Text="Sign In" ButtonStyle="ButtonStyle.Success" Click="@OpenLogin"/>
                        }
                </div>
            </div>
            <article id="contentarea" class="content px-4">
                <div id="cover-spin"></div>
                @Body
            </article>
        </main>
    </div>


</CascadingValue>


<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />

@code {


    public async Task OpenLogin()
    {
        NavManager.NavigateTo("/login");
    }

    protected override async Task OnInitializedAsync()
    {
        AccountService.OnAccountStateChanged += AccountStateEventHandler;
        await base.OnInitializedAsync();
    }

    private void AccountStateEventHandler(object sender, AccountStateChangedArgs args)
    {
        if (!args.IsLoggedIn)
        {
            NavManager.NavigateTo("/login");
        }
        else
        {
            NavManager.NavigateTo("/bar");
        }
    }
}
