
@using BeerDispenser.WebUi.Implementation;

@inherits LayoutComponentBase
@inject NavigationManager NavManager

@inject AccountService AccountService;


<style>
    .avatar img {
        border-radius: 50%;
        width: 20px;
        display: block;
    }

    .avatar {
        text-align: justify;
        width: 50px;
        margin: 0 auto;
    }
</style>

<CascadingValue Value="this">


    <div class="page">
        <div class="sidebar">
            <NavMenu />

        </div>

        <main>
            <div class="top-row px-4">
                <div style="width:200px;text-align:right;">
                    @if (AccountService.IsLoggedIn)
                        {
                            <div style="display:inline-block">
                                <img class="avatar" src="/images/no-avatar.png" @onclick=@(() => NavManager.NavigateTo("/account")) />
                                <a style="margin-left:0" href="account"><b>@AccountService.UserName</b></a>
                            </div>
                            <button style="margin-left:50px" class="btn btn-sm btn-danger" title="Logout" @onclick="AccountService.LogoutAsync"><span class="oi oi-account-logout"></span></button>
                        }
                        else
                        {
                            <RadzenButton Text="Sign In" ButtonStyle="ButtonStyle.Success" Click="@OpenLogin"/>
                        }
                </div>
            </div>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>


</CascadingValue>


<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />

@code {


    public async Task OpenLogin()
    {
        NavManager.NavigateTo("/login");
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
       
    }

    }
